<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head('Nuovo Arbitro')}"></head>
<body>

<nav th:replace="~{fragments/base :: navbar}"></nav>

<h1>Crea nuovo arbitro</h1>

<form th:action="@{/admin/arbitri/new}" th:object="${arbitro}" method="post">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}"/>
  </div>
  <div>
    <label for="cognome">Cognome:</label>
    <input type="text" id="cognome" th:field="*{cognome}"/>
  </div>
  <button type="submit">Salva</button>
</form>

<a th:href="@{/}">Annulla</a>

<footer th:replace="~{fragments/base :: footer}"></footer>

</body>
</html>