<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="UTF-8"/>
  <title th:text="${title}">SiwFootball</title>
</head>
<body>
<!-- navigazione principale, riusata in tutte le pagine -->
<nav th:fragment="navbar">
  <a th:href="@{/}">Home</a>
  <a th:href="@{/tornei}">Tornei</a>
  <a th:href="@{/squadre}">Squadre</a>


  <!-- se non autenticato -->
  <div th:if="${userDetails == null}">
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/register}">Registrati</a>
  </div>

  <!-- se autenticato -->
  <div th:if="${userDetails != null}">
    <span th:text="'Ciao, ' + ${userDetails.username}">utente</span>
    <a th:href="@{/admin/tornei/new}">+ Torneo</a>
    <a th:href="@{/admin/squadre/new}">+ Squadra</a>
    <a th:href="@{/admin/giocatori/new}">+ Giocatore</a>
    <a th:href="@{/admin/arbitri/new}">+ Arbitro</a>
    <a th:href="@{/admin/partite/new}">+ Partita</a>
    <a th:href="@{/logout}">Logout</a>
  </div>
</nav>



<!-- link admin visibile solo agli ADMIN -->
<div th:if="${userDetails != null and #authorization.expression('hasAuthority(''ADMIN'')')}">
  <a th:href="@{/admin/tornei/new}">Nuovo Torneo</a>
</div>




<!-- footer riusato in tutte le pagine -->
<footer th:fragment="footer">
  <p>SiwFootball 2026</p>
</footer>
</body>
</html>